.*
!.github
!.gitignore
!.gitattributes
!.editorconfig
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Pp]roperties/
assemblies
!resources/assemblies
resources/commit
*.user
*.snk
App.config
constants/Setting.cs
*.sln
examples/HelloMod/*.dll
examples/HelloMod/*.pdb
bin/
obj/
out/
ports/*/**/bin/
ports/*/**/obj/

# not published: third-party mod ports and local experiments
ports/
examples/Premium*
examples/TestPremium/
GodForge-*.zip
